* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c35;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  background-color: #1e232a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__group {
  position: relative;
  width: 100%;
  max-width: 180px;
  margin-bottom: 20px;
  padding: 20px 0 0;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #61dafb;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
  color: #61dafb;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #61dafb;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* button */
button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #61dafb;
  outline: none;
  background-color: transparent;
  color: #61dafb;
  transition: 0.8s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

button::after,
button::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
}

button::after {
  top: -10px;
  left: 3%;
}

button::before {
  bottom: -10px;
  left: 3%;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
}

button:hover {
  box-shadow: inset 0px 0px 25px #61dafb;
}
